*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background: rgb(157, 195, 209);
}

.container {
    background:rgb(157, 195, 209);
    padding:0 1rem;
}
.btn{
    display: inline-block;
    background: deepskyblue;
    color: ghostwhite;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
}
.btn:hover{
 background:darkblue
}
